.idea/*
Gemfile.lock
.idea/dictionaries/tobias_bohman.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/misc.xml

.idea/misc.xml

.idea/Personnummer.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

*.iml

.idea/Personnummer.iml
